<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartSystem0.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA8C6C2D2085EF8000C5321A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8C6C432085EF8300C5321A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8C6C4E2085EF8300C5321A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
