/PIC/PIC_PWM_ADC.X/nbproject/private/
/PIC/PIC_PWM_ADC.X/build/default/
/PIC/PIC_PWM_ADC.X/dist/default/
/PIC/PIC_UART.X/nbproject/private/
/PIC/PIC_UART.X/dist/default/
/PIC/PIC_UART.X/build/default/
/PIC/temp_sens_12f675.X/nbproject/private/
/PIC/temp_sens_12f675.X/dist/default/